@model Assignment_3.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks</h2>
@{ 
    try
    {
        WebMail.SmtpServer = "pawar.rajani1999@gmail.com";

    }
}

